<!DOCTYPE html>
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
var listOfOrigin = [
  ['Bondi Beach', -33.890542, 151.274856, 4],
  ['Coogee Beach', -33.923036, 151.259052, 5],
  ['Cronulla Beach', -34.028249, 151.157507, 3],
  ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
  ['Maroubra Beach', -33.950198, 151.259302, 1]
];

var dest =  ['Restaurant 1',-33.8, 150.5];

function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(-33.9,151),
    zoom:9,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

  var image='DestPin.png';

  var marker=new google.maps.Marker({
    position:{lat:dest[1], lng:dest[2]},
    icon:image,
    map:map
  });

  for (var i = 0; i < listOfOrigin.length; i++) {
    var origin = listOfOrigin[i];
    var marker = new google.maps.Marker({
      position: {lat: origin[1], lng: origin[2]},
      map: map
    });
  }
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class=page>
<h1 style="text-align:center; font-size:40px;"> MapIO </h1>
</head>

<div class=metanav style="text-align:right;">
	{% if not session.logged_in %}
    <a href="/login">log in</a>
	{% else %}
    <a href="/logout">log out</a>
	{% endif %}
  {% block body %}{% endblock %}
</div>

<body style="text-align:center;">
<div id="googleMap" style="margin:0 auto 0 auto; width:1200px;height:800px;"></div>
<input type="submit" name="myLocation" value="Send Location">
</body>

</html> 
