<!DOCTYPE html>
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>

function initialize(dest,listOfOrigin) {
  var mapProp = {
    center:new google.maps.LatLng(-33.9,151),
    zoom:9,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

  var image='DestPin.png';

  var marker=new google.maps.Marker({
    position:{lat:dest[1], lng:dest[2]},
    icon:image,
    map:map
  });

  for (var i = 0; i < listOfOrigin.length; i++) {
    var origin = listOfOrigin[i];
    var marker = new google.maps.Marker({
      position: {lat: origin[1], lng: origin[2]},
      map: map
    });
  }
}

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(sendPosition);
    }
}

var cLat;
var cLon;
function sendPosition(position) {
    var cLat= position.coords.latitude;
    var cLon= position.coords.longitude;
 }   



google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class=page>
<h1 style="text-align:center; font-size:40px;"> MapIO </h1>
</head>

<div class=metanav style="text-align:right;">
	{% if not session.logged_in %}
    <a href="/login">log in</a>
	{% else %}
    <a href="/logout">log out</a>
	{% endif %}
  {% block body %}{% endblock %}
</div>

<body style="text-align:center;">
<div id="googleMap" style="margin:0 auto 0 auto; width:1200px;height:800px;"></div>
<button onclick="alert('{Latitude:'+ cLat +', Longitude:'+'cLon'"> Send Location </button>
</body>

</html> 
